<h2>Task Board</h2>

<div class="board">

    <!-- TODO -->
    <div class="column" cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskService.todoTasks()"
        [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="drop($event, 'TODO')">
        <h3>TODO</h3>

        @for (task of taskService.todoTasks(); track task.id) {
        <div class="card" cdkDrag [cdkDragData]="task">
            {{ task.title }}
        </div>
        }

    </div>

    <!-- IN PROGRESS -->
    <div class="column" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="taskService.inProgressTasks()"
        [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event, 'IN_PROGRESS')">
        <h3>IN PROGRESS</h3>

        @for (task of taskService.inProgressTasks(); track task.id) {
        <div class="card" cdkDrag [cdkDragData]="task">
            {{ task.title }}
        </div>
        }

    </div>

    <!-- DONE -->
    <div class="column" cdkDropList #doneList="cdkDropList" [cdkDropListData]="taskService.doneTasks()"
        [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event, 'DONE')">
        <h3>DONE</h3>

        @for (task of taskService.doneTasks(); track task.id) {
        <div class="card" cdkDrag [cdkDragData]="task">
            {{ task.title }}
        </div>
        }

    </div>

</div>